<%- include('../templates/header.ejs') %>
<main>
    <form action="/users/signup" method="post">
        <input type="text" name="username" placeholder="Introduce tu usuario" required>
        <input type="text" name="email" placeholder="Introduce tu email" required>
        <input type="password" name="password" placeholder="Introduce tu contraseña" required>
        <select name="level">
            <option value="receptioner">Recepcionista</option>
            <option value="bartender">Bartender</option>
            <option value="admin">Administrador</option>
        </select>
        <button>Entrar</button>
    </form>
</main>
<%- include('../templates/footer.ejs') %>